html, body {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 11px;
	font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
}
#ykMain {
	height: 100%;
	width: 100%;
	left: 0%;
	top: 0%;
	position: relative;
}
#ykHead {
	/*bottom: 1px;
	position: absolute;*/
	
	height: 28px; /*44px*/
	overflow:hidden;
	padding:0px;
	width:100%;
	background:#FFFFFF url(images/bg_main.jpg) left bottom repeat-x;
	}
	#bgHead { 
		height:28px;  /*30px*/
		padding:0; 
		margin:0; 
		background:url(images/bgHead.jpg) left top repeat-x;
		/*border-color:#CADEF6;
		border-width:1px 1px 1px 1px;
		border-style:solid;*/
		}
	#bgHead .NewNav	{
		margin:0;
		margin-left:50%;
		padding:0;
		color:#FFFFFF;
		list-style:none;
	}
	.NewNav li {
		float:left;
		margin:0;
		padding:0;
		color:#FFFFFF;
		}
	.NewNav li a {
		
		margin:0;
		display:block;
		padding:6px 13px 6px 13px;
		background:#FFFFFF url(images/bg_item_hover.jpg) left top repeat-x;
		color:#000;
		text-decoration:none;
		border:1px solid #A9A9A9; 
		
	}
	.NewNav li a:hover {
		
		background:url(images/bg_item_hover.jpg) left top repeat-x;
		color:#FFFFFF;
		}
	#bgHead .derecha {
		float:right;
		color:#FFFFFF;
		margin:5px 0;
		padding:0;
		}
		.derecha li { 
			display:inline; 
			padding:0; 
			margin:0 5px 0 5px;
		}
		.derecha li a:link, .derecha li a:visited, .derecha li a:active, .derecha li a:hover {
			margin:0; 
			padding:0;
			color:#FFFFFF;
			text-decoration:none;
			line-height:20px;
		}
#logo_sys {
	/*background-image:url(images/logo_gestion.png);
	background-repeat:no-repeat;
	background-color: transparent;
	background-position:left top;*/
	height:28px;
	width: 210px;
	margin:0px;
	float: left;
	}
#ykBody {
	margin:0 0 0 2px;
	padding: 0px;
 	overflow:auto; 
	/*width:99.1%;*/
	width:100%;
	height:91.5%; 
	position:absolute;
	}
#ykBody h1 {
		margin:0;
		padding:5px 0 5px 0; 
		color: #335C9E;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:18px;
		letter-spacing: normal;
		display:block;
		width:auto;
		}			
#main_wrapper {
	}
#main_sys {
	background-color: #FFFFFF;
	margin:0 0px 10px 0px;
	padding: 0px;
	}
	#main_sys h1 {
		margin:0;
		padding:5px 0 5px 0; 
		color: #335C9E;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:18px;
		letter-spacing: normal;
		}
	.impresion {
			background:url(../../../images/printer.gif) right top no-repeat;
			padding:2px 5px 5px 25px;
			color:#006699;
			float:right;
			width:30px;
			height:20px;
			display:block;
			}	
	#main_sys #areaAzul {
		background-color:#8DACCB;
		}
	#main_sys #areaForm {}
	.btn {
	margin:0;
	padding:2px 10px 2px 10px;
	color:#FFF;
	font-size:10px;
	border-top:1px solid #76A8DE;
	border-left:1px solid #76A8DE;
	border-bottom:1px solid #2D6BB0;
	border-right:1px solid #2D6BB0;
	background-image:url(../../images/bg_boton.gif);
	background-position:left top;
	background-repeat:repeat-x;
	cursor:pointer;
	} 
	#main_sys #main_syst {
		background-color: #FFFFFF;
		margin: 0px;
		padding: 0px;
	} 	
#sidebar {
	/*background-color:#CADEF6;*/
	margin:0;
	margin-right:10px;
	padding:0;
	padding-right:6px;
	width: 190px;
	border-right:1px solid #E2ECF3;
	}
#areaList {
	padding:0;
	margin:0;
	}

/*-------- Styles for tables --------*/
		/*****  Desgin1  *****/
		#design1 {
			border:0px solid #D5D5D5;
			margin: 0px 7px 0px 0px;
			padding: 0px;
			}
		#design1 table {
			color:#1F1F1F;
			margin:0;
			padding:0;
			margin-bottom:15px;
			margin-top:10px;
			width:100%;
			border-collapse:collapse;
			white-space:normal;
			}
		#design1 table thead td {	
			color:#999999;
			font-weight:normal;
		}
		#design1 table thead td a{ color:#0099FF; }
		#design1 table thead td a:hover{ text-decoration:none;}
		#design1 table thead th {
				color: #000000; 
				font-size: 11px; 
				border-bottom: 2px solid #376EBE; 
				border-top: 1px solid #E5EEFA;
				padding-top: 5px; 
				padding-bottom: 5px; 
				background-color: #F3F8FF;
				background-image:url(../images/bg_th.gif);
				background-position:left top;
				background-repeat:repeat-x;
				}
		#design1 table thead th a{
			color:#000;
			text-decoration:none;
			border-bottom:1px solid #333;
		}
		#design1 table thead th a:hover{
			color:#333;
			text-decoration:none;
			border-bottom:1px solid #333;
		}
		#design1 table tbody th {
			color:#000000; 
			font-size:11px; 
			border-top:1px solid #E5EEFA; 
			border-bottom:1px solid #CADBE5;
			padding-top:5px; 
			padding-bottom:5px;
			background-color:#F3F8FF;
		}	
		#design1 table tbody .thx {
			text-align:right;
			padding-right:10px;
			background:none;
			}
		#design1 table tbody td{
			border-bottom: 1px solid #CADBE5; 
			font-size: 11px; 
			padding-left: 5px;
			padding-top:2px;
			padding-bottom:2px;
			}
		#design1 table tbody tr.rows1 { background-color:#FFFFFF; }
		#design1 table tbody tr.rows2 { background-color: #F9FCFF; }
		/*#design1 table tbody tr.gris { background-color:#CCCCCC; } /*Para sombrear fila*/
		#design1 .gris { background-color:#E1E1E1;}
		#design1 .gris_rojo { background-color:#E1E1E1; color:#FF0000;}
		#design1 .gris_negrita { background-color:#E1E1E1; font-weight:bold;}
		#design1 .negrita { font-weight:bold;}
		#design1 table tbody tr.rowshover { 
			border-bottom: 1px solid #CADBE5; 
			font-size: 11px; 
			padding-left: 5px; 
			background-color: #FFFDE9; 
			}
		#design1 table tbody td a:link, #design1 tbody td a:active {
			text-decoration:underline; 
			color:#325DB5;
			}
		#design1 table tbody td .textbox {
			background:#FFFFFF;
			color:#006699;
			border:1px solid #76A8DE;
			padding-left:1px;
			cursor:text;
			}	
		#design1 table tbody td input {
			color:#FFF; font-size:10px;
			border-width:1px; border-style:solid; border-color:#76A8DE #2D6BB0 #2D6BB0 #76A8DE;
			margin:0; padding:2px 10px 2px 10px;
			background: url(../../../images/bg_boton.gif) left top repeat-x;
			cursor:pointer;
		}
		#design1 table tbody td a:visited {color:#325DB5;}
		#design1 table tbody td a:hover {text-decoration:none;}	
		#design1 table tfoot td {
			border-bottom:1px solid #FFFFFF;
			color:#999999;
			}
		#design1 table tfoot td a{ color:#0099FF;	}
		#design1 table tfoot td a:hover{ text-decoration:none;}
		/***** End de Design1 *****/
		
		#design1 .cuadricula {
			border-left:1px solid #E2ECF3;
			border-top:1px solid #E2ECF3;
			}
			.cuadricula tbody td{
				border:1px solid #E2ECF3;
				text-align:right;
			}	
			.cuadricula .izquierda {
				text-align:left;
			}
			.cuadricula .sub_total {
			background-color:#999;
			font-weight:bold;
			color:#FFF;
			}
			

/****/
form {
	width: auto;
	padding: 0px;
	border: 0px;
}
input, select, textarea {
	border:1px solid #DCDCDC;
	margin-bottom:1px;
	padding:2px;
	font-size:12px;
	}
input:hover, select:hover, textarea:hover {
	background-color:#F8F3DC;
	}
input:focus, select:focus, textarea:focus {
	border:1px solid #006699;
	background-color:#F8F3DC;
	}
fieldset{
	margin: 10px 0px;
	padding: 10px;
	border:1px solid #DCDCDC;
	/*background-color:#F0FFF0;*/
}

* html fieldset{
	padding-top: 10px;
}

legend{
	font-family: Verdana, Alial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color:#000080;
	padding: 3px 5px;

}
.calendario {
	background-color:#F9FCFF;
	background-image: url(../../includes/zpform/themes/icons/calendar5.gif);
	background-repeat:no-repeat;
	background-position:center;
	border:1px solid #F9FCFF;
	cursor:pointer;
	}